*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

body{
	font-family: Arial, Tahoma;
}

.clearfix{
	clear: both;
}

.main{
	background-color: #333;
	color: #DDD;
	padding: 20px;
	text-align: center;
}

nav{
	background-color: #DDD;
	text-align: center;
}

nav ul{
	padding: 20px;
}

nav ul li{
	display: inline-block;
}

nav ul li:after{
	content: " |";
}

nav ul li:last-child:after{
	content: "";
}

main{
	background-color: #EEE;
	padding: 20px;
}

main p{
	text-align: center;
}

main p span{
	font-weight: bold;
	color: #666;
}

main p mark{
	background-color: #F00;
	color: #FFF;
}

.post{
	width: 70%;
	float: left;
}

.post article{
	background-color: #F6F6F6;
	border: 1px solid #CCC;
	margin: 20px;
}

.post article header{
	background-color: #E2E2E2;
	padding: 10px;
}

.post article section{
	padding: 10px;
}

.post article section details{
	margin: 10px 0px;
}

.post article section .long-link{
	width: 200px;
}

.post article section code{
	background-color: #FFF;
	padding: 10px;
	display: block;
	margin: 10px 0;
	border: 1px solid #CCC;
	max-width: 500px;
}

.post article section .img-figure{
	background-color: #FFF;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #CCC;
	width: 960px auto;
	text-align: center;

}

.post article section .img-figure img{
	border: 1px solid #CCC;
	padding: 3px;
	background-color: #FFF;
}

.post article section .inputs input{
	display: block;
	margin-bottom: 5px;
}

aside{
	float: right;
	width: 30%;
}

aside section{
	background-color: #EEE;
	margin: 20px 10px;
	padding: 10px;
	border: 1px solid #CCC;
	margin-bottom: 20px;
}

aside section h3{
	background-color: #D1D1D1;
	padding: 10px
}

aside section ul{
	margin-top: 10px;
}

aside section ul li{
	line-height: 1.5;
}

aside section div{
	margin-top: 10px;
}

div h1{
	background-color: #333;
	color: #DDD;
	text-align: center;
	padding: 10px;
}

footer{
	background-color: #333;
	color: #DDD;
	padding: 10px;
}
